<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <style>
  @import url('https://fonts.googleapis.com/css?family=Dosis');

  </style>
</head>

<body>
  <form id="test">
    <h4 class="header container">다중 파일 업로드</h4>
    <input class="button-collapse" id="files-upload" type="file" multiple><br>
    <input type="submit" value="완료">
  </form>

  <a href="#!" class="btn container" onclick="Materialize.showStaggeredList('#staggered-test')">Click Me</a>

  <ul class="constainer" id="staggered-test" >
            <li style="opacity: 0;">
              <h4><a href="#">List Item</a></h4>
              <p>This is a description</p>
            </li>
            <li style="opacity: 0;">
              <h4><a href="#">List Item</a></h4>
              <p>This is a description</p>
            </li>
            <li style="opacity: 0;">
              <h4><a href="#">List Item</a></h4>
              <p>This is a description</p>
            </li>
            <li style="opacity: 0;">
              <h4><a href="#">List Item</a></h4>
              <p>This is a description</p>
            </li>
            <li style="opacity: 0;">
              <h4><a href="#">List Item</a></h4>
              <p>This is a description</p>
            </li>
          </ul>



  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header active"><i class="material-icons"></i>대문자 입력</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>소문자 입력</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>숫자 입력</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>특수문자 입력</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script type="text/javascript">

  </script>
</body>

</html>
