<div class="page-footer white">
  <div class="row container">
    <div class="col l6 s12">
      <h5 class="grey-text text-darken-2" style="text-shadow: 1px 1px 1px #aaa">FontMaker</h5>
      <p class="grey-text text-darken-2">가천대학교 컴퓨터공학과 졸업프로젝트; 팀 현혜원</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="grey-text text-darken-2" style="text-shadow: 1px 1px 1px #aaa">Contact Us</h5>
      <ul>
        <li><a class="grey-text text-darken-2" href="#!">k.hyerim96@gmail.com</a></li>
        <li><a class="grey-text text-darken-2" href="#!">Link 3</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright deep-purple lighten-1">
    <div class="container">
      Copyright (C) 2014 team.HHY all rights reserved.
      <a class="grey-text text-lighten-4 right" href="https://github.com/yws6909/fontmaker">Github of FontMaker</a>
    </div>
  </div>
