<div id="myPage" class="col s12 container">
  <div class="row"></div>
  <div class="row ">
    <div class="col offset-s1 s5">
      <ul class="thumblist">
        <li><img class="materialboxed responsive-img z-depth-1" src="images/zini.jpg"></li>
      </ul>
    </div>
    <div class="col s5 left-align">
      <ul>
        <br>
        <li>
          <h5>zerobasic</h5></li>
        <br>
        <div class="divider"></div>
        <br>
        <li>제작한 폰트 수: 3</li>
        <li>가입일자: 2017-05-28</li>
      </ul>
    </div>
  </div>
  <ul class="collection z-depth-1">
    <li class="collection-item avatar grey lighten-5">
      <img class="materialboxed circle" src="images/fontStar.jpg">
      <span class="title">210 별빛차 R</span>
      <p>폰트 이름은 별빛차입니다. <br> 아기자기하고 예뻐요 :-)
      </p>
      <div class="secondary-content">
        <a href="#!"><i class="material-icons" style="color:#4527a0;">settings</i></a>
        <a href="#"><i class="material-icons" style="color:#4527a0;">play_for_work</i></a>
        <a href="#"><i class="material-icons" style="color:#4527a0;">delete</i></a>
      </div>
    </li>
    <li class="collection-item avatar grey lighten-5">
      <img class="materialboxed circle" src="images/fontPoem.jpg">
      <span class="title">DX 시인과 나</span>
      <p>폰트 이름은 시인과 나 입니다. <br> 약간 딱딱한 듯, 깔끔한 느낌이죠?
      </p>
      <div class="secondary-content">
        <a href="#!"><i class="material-icons" style="color:#4527a0;">settings</i></a>
        <a href="#"><i class="material-icons" style="color:#4527a0;">play_for_work</i></a>
        <a href="#"><i class="material-icons" style="color:#4527a0;">delete</i></a>
      </div>
    </li>
    <li class="collection-item avatar grey lighten-5">
      <img class="materialboxed circle" src="images/fontCat.jpg">
      <span class="title">1훈 하얀고양이 R</span>
      <p>폰트 이름은 하얀고양이 입니다. <br> 동글동글 자유로운 감성이 가득!
      </p>
      <div class="secondary-content">
        <a href="#!"><i class="material-icons" style="color:#4527a0;">settings</i></a>
        <a href="#"><i class="material-icons" style="color:#4527a0;">play_for_work</i></a>
        <a href="#"><i class="material-icons" style="color:#4527a0;">delete</i></a>
      </div>
    </li>
  </ul>
</div>
